/* All Css Will Be Here Like The Following */

/* ! General Css */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #a7a7a7;
}
::-webkit-scrollbar {
    width: 8px;
}

a {
    text-decoration: unset !important;
}

ul {
    padding: 0 !important;
    list-style: none !important;
}

/* ! Navbar */

.navbar .nav-item .nav-img {
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.exploreNav {
    writing-mode: vertical-lr;
    position: fixed;
    left: 0;
    top: 165px;
    padding: 50px 5px;
    color: #121212;
    font-weight: 900;
    background: #fff;
    box-shadow: 0px 0px 5px #ddd;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 9999;
}
@media (max-width: 767px) {
    .exploreNav {
        writing-mode: unset;
        padding: 5px 50px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        top: unset;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
    }
}
/* ! Profile */

.topProfile {
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
}
.profileImg {
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 35px;
}
.profileImg img {
    width: 100%;
    border-radius: 50%;
    border: 3px solid #ddd;
}

.profileUsername {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profileUsername p {
    font-size: 28px;
    font-weight: 300;
    color: #8e8e8e;
    margin: 0;
}

.profileUsername a {
    cursor: pointer;
    margin-left: 20px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #262626;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    padding: 5px 10px;
    text-align: center;
}

.profileCounter {
    padding: 0;
    display: flex;
    margin-bottom: 20px;
}

.profileCounter li {
    list-style: none;
    color: #262626;
    margin-right: 35px;
    font-size: 16px;
}

.profileCounter li a {
    text-decoration: none;
    color: #262626;
}

.profileName {
    margin-bottom: 20px;
}
.profileName p {
    font-size: 15px;
    margin: 0;
    font-weight: 600;
    color: #262626;
}

.profileBio {
    max-width: 370px;
}

.profileBio p {
    margin: 0;
}

.bottomProfile .nav {
    justify-content: center;
    margin-bottom: 30px;
}

.bottomProfile .nav .nav-item {
    margin-left: 20px;
    margin-right: 20px;
}

.profilePost {
    position: relative;
    width: 100%;
    height: 250px;
    margin: 15px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #0000001f;
    line-height: 0;
    text-decoration: unset;
    display: block;
}
@media (max-width: 767px) {
    .profilePost {
        height: auto;
    }
}

.profilePost:hover.profilePost::after {
    content: "\f004";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 0;
    display: flex;
    z-index: 9999;
    color: #fff;
    width: 100%;
    height: 100%;
    font-size: 35px;
    align-items: center;
    justify-content: center;
}
.profilePost:hover.profilePost::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #00000090;
}

@media (max-width: 576px) {
    .profileImg {
        height: 85px;
        width: 85px;
        margin-right: 20px;
    }
    .profileUsername p {
        font-size: 14px;
    }
    .profileUsername a {
        margin-left: 10px;
        font-size: 9px;
    }
    .profileCounter li {
        margin-right: 20px;
        font-size: 10px;
    }
    .profileName p {
        font-size: 10px;
    }
    .profileBio {
        max-width: 100%;
    }
    .profileBio p {
        font-size: 10px;
    }
    .profileName,
    .profileCounter,
    .profileUsername {
        margin-bottom: 15px;
    }
}

/* ! Add Post */

.addPost label span {
    color: red;
}

.addPost .was-validated .form-control:invalid,
.addPost .form-control.is-invalid,
.addPost.was-validated .custom-file-input:invalid ~ .custom-file-label,
.addPost .custom-file-input.is-invalid ~ .custom-file-label {
    border-color: #ced4da;
}

/* ! Following - Followers Page */

.followersCard {
    border: 1px solid #e6e6e6;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #00000020;
}

.followersCard ul {
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

.followersCard ul li {
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.followersCard ul li img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.followersLink {
    margin-right: auto;
}

.followersLink .id {
    text-align: left;
    margin-right: auto;
    margin-left: 15px;
    color: #999;
}

.followersLink .name {
    text-align: left;
    margin-right: auto;
    margin-left: 15px;
    display: block;
    font-weight: 600;
}

.followersBtn {
    color: white !important;
    background-color: #3897f0;
    border: 0;
    font-size: 13px;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.followersBtn.unFollow {
    background-color: #b32e2e;
}

.followersBtn:active {
    opacity: 0.8;
}

.followersBtn:focus {
    outline: none;
}

/* ! Tags Page */

@media (max-width: 767px) {
    .tagsPage h4 {
        font-size: 30px;
    }
}

/* ! Home Page  */

.homePost {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 3px 5px #00000015;
    border: 2px solid #eee;
    margin-bottom: 30px;
}

.postOwner {
    height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
}
.postOwner span {
    padding-left: 10px;
    color: #121212;
    font-weight: 900;
}

.postOwner img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ddd;
    padding: 2px;
}
.postFeatures {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}

.postFeatures ul {
    display: flex;
    line-height: 0;
    margin: 0;
}

.postFeatures ul li {
    font-size: 30px;
    margin: 5px 10px;
}

.postFeatures ul li a {
    color: #999;
}

.postFeatures .postLikes {
    width: 100%;
    padding-left: 10px;
    padding-top: 5px;
    font-weight: 900;
}

.postCaption,
.postComments {
    width: 100%;
    padding: 10px;
    position: relative;
}
.postCaption span,
.postComments span {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 10px;
    color: #999;
}

.postAddComment {
    border-top: 1px solid #eee;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postAddComment textarea {
    padding: 5px;
    resize: none;
    width: 90%;
    background: transparent;
    border: unset;
    outline: unset;
    height: 45px;
    overflow: auto;
}
.postPage {
    display: flex;
    overflow: hidden;
    width: 100%;
    box-shadow: 0px 3px 5px #00000015;
    border: 2px solid #eee;
    border-radius: 5px;
}
.postPage .img {
    width: 65%;
}
.postPage .details {
    position: relative;
    width: 35%;
}
.postPage .details .owner {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #eee;
}
.postPage .details a img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.postPage .details a span {
    color: #121212;
    font-weight: 900;
    padding-left: 10px;
}
.postPage .details .comments-container {
    position: absolute;
    top: 46px;
    width: 100%;
    height: calc(100% - 191px);
    overflow: auto;
}
.postPage .details .caption {
    display: block;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #eee;
    position: relative;
}

.postPage .details .comment .text-muted {
    font-size: 12px;
}

.postPage .details .comment {
    display: block;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #eeeeee50;
    position: relative;
}
.postPage .details .comment .time,
.postPage .details .caption .time {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 10px;
    color: #999;
}

.postPage .features {
    position: absolute;
    bottom: 65px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}

.postPage .features ul {
    display: flex;
    justify-content: space-between;
    line-height: 0;
    margin-bottom: 10px;
    width: 100%;
}
.postPage .features ul li {
    font-size: 25px;
}

.postPage .features ul li a {
    color: #999;
}

.postPage .features .likes {
    width: 100%;
    font-weight: 900;
}

.postPage .add-comment {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.postPage .add-comment textarea {
    padding: 5px;
    resize: none;
    width: 90%;
    background: transparent;
    border: unset;
    outline: unset;
    height: 45px;
    overflow: auto;
}
@media (max-width: 767px) {
    .postPage {
        flex-direction: column;
        position: relative;
    }
    .postPage .img,
    .postPage .details {
        width: 100%;
    }
    .postPage .details .owner,
    .postPage .details .comments-container,
    .postPage .add-comment,
    .postPage .details .features {
        position: relative;
        top: unset;
        bottom: unset;
    }
    .postPage .details {
        position: unset;
    }
    .postPage .details .owner {
        position: absolute;
        top: 0px;
        width: 100%;
        background: #fff;
    }
}
