/*Overall :: Two container of items*/
.login{

	display: flex;
	width: 75%;
	margin:0 auto;
    margin-top:50px;
    align-items: center;
}

.phone__image, #login{

	width: 50%;
}

/*phone image design*/
#phone__image{

	margin-right: 70px;
}

/*login box design*/
#login{

	justify-content: center;
	/*background-color: white;*/
	border: none;
    margin-bottom: 20px;
	text-align: center;
	max-width: 400px
}

.login__container{

	padding: 25px;
	background-color: white;
	border: 1px solid #efefef;
	margin-top: 10px;
	margin-bottom: 20px;
}

.login__logo{

	margin-bottom:20px
}

.login__input{

    padding:7px 0px 7px 10px;
    box-sizing: border-box;
    width:100%;
    border: 1px solid #efefef;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 8px;
}

.login__form--box{
	position: relative;
}

.login__form--box a{
	position: absolute;
	top: 9px;
	right: 10px;
}

input[type="submit"]{
    width:100%;
    padding:6px 0px;
    display: block;
    appearance: none;
    -webkit-appearance: none;
    border:0;
    color:white;
    font-weight: 700;
    font-size:14px;
    background-color: #3897f0;
    border-radius: 5px;
    margin-top: 10px;
}

.login__form--divider{

   display: block;
   margin:20px 0;
   text-transform: uppercase;
   font-weight: 700;
   color:#999;
}

.login__form--facebook{
    color:#385185;
}

/* signup issue*/

.login__box--signup{

	border: 1px solid #e6e6e6;
	padding: 20px;
	text-align: center;
	background-color: white;
}


/*Appstore issue */
.login__box--transparent{
	
	border:none;
    background-color: transparent;
    margin-top:20px;
    padding: 10px;
	text-align: center;
}

.login__text img{

	height: 40px;
}

.login__text{

	margin-top: 30px;
}