/**When the page goes in mobile*/

/*
@media only screen
	and (min-width: 320px)
	and (max-width: 650px){

	.navigation__column input,
	.navigation__column .fa-search{
		display:none;
	}

	.navigation{
		padding:0 10px;
	}

	main{
		margin-top: 0;
	}

	.photo{
		background-color:transparent;
		border:none;
		margin-bottom: 20px;
	}

	.photo .photo__addcomment-container{
		display: none;
	}

	footer, .footer__list{
		justify-content: center;
	}

	.footer__list{
		margin-bottom: 20px;
	}

	.footer__item{
		margin-bottom: 8px;
	}

	#phone__image{
		display:none;
	}

	#login{
		width:100%;
	}

	.login{
		width:95%;
	}

	.login__container{
		background-color: transparent;
		border : none;
	}

	.login__input, .login__form-box{
		padding-top: 0;
	}

	.people__List{
		border:none;
	}

	.people{
		border:none;
	}
}
*/