*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: rgb(252, 248, 248);
}

.article {
  margin-top: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.post {
  display: flex;
  max-width: 840px;
  margin: 0 auto;
  background: white;
}

.post .banner {
  flex: 10;
}

.post .info {
  flex: 8;
  display: flex;
}

.desktop-banner {
  min-width: 100%;
  height: 100%;
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}

/* ICONE DO USUÃRIO */
.avatar {
  display: inline-block;
  position: relative;

  width: 40px;
  height: 40px;

  overflow: hidden;
  padding: 0 5px;
}

.avatar__user {
  width: 37px;
  height: 37px;
  padding: 5px;
  border-radius: 50%;
  display: block;
  position: relative;
  top: 6%;
  left: -4%;
  z-index: 1;
  cursor: pointer;
}

.avatar__borda {
  /* POSICIONA A BORDA AO REDOR DO ICONE */
  position: absolute;
  left: 11%;
  top: 7%;

  /* DEFINE O TAMANHO DO CONTAINER PARA A BORDA DO ICONE */
  width: 35px;
  height: 35px;

  /* COLOCA A BORDA COMO BACKGROUND DO CONTAINER */
  background-image: url(images/new-circle.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: -18px;
  overflow: hidden;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;

  border: 1px solid rgb(245, 241, 241);
}

/* SECTION 1 */
.user__header {
  display: flex;
  align-items: center;
  gap: 0px;
  padding: 10px 20px 15px 10px;

  border-bottom: 1px solid rgb(245, 241, 241);
}

.user__header > .user__header-itens {
  padding-left: 7.5px;
}

.user__header-itens {
  display: flex;
  align-items: center;
  gap: 5px;
  flex: 1;
}

.user__name {
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
}

.user__more {
  flex: 2;
  text-align: right;
  cursor: pointer;
}

/* SECTION 2 */
.user__header-2 {
  display: flex;
  align-items: flex-start;
  gap: 0px;
  padding: 10px 20px 5px 10px;
}

.user__header-2 > .user__header-itens {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user_content {
  padding: 20px;
  display: flex;
}

.user__header-itens > .user__description {
  margin: 0;
  padding: 1% 6% 0 7.5px;
  font-size: 14px;
  font-weight: lighter;
  line-height: 1.3;
}

.qut {
  text-decoration: none;
  color: rgb(23, 79, 201);
}

.comment__time {
  padding: 2% 13% 0 7.5px;
  font-size: 12px;
  color: grey;
}

/* SECTION 3 */
.comment {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.user__description {
  padding: 1% 6% 0 5.5px;
}

.comment .comment__heart {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.comment .user__description {
  max-width: 270px;
}

.comment__info {
  font-size: 12px;
  color: grey;
  display: flex;
  width: 100%;
  gap: 15px;
}

.comment__info span {
  padding: 2% 0 2% 0;
  cursor: pointer;
}

.comment__info .comment__time {
  padding-left: 7.5px;
}

/* SECTION 4 */
.action-icons {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 0px 20px 0px 20px;
  justify-content: space-between;
}

.left-icon {
  display: flex;
  gap: 14px;
}

.action-icons svg {
  cursor: pointer;
}

.other-infos {
  padding: 2% 13% 0 7.5px;
  display: flex;
}

.other-infos .user__header-itens {
  flex-direction: column;
  align-items: flex-start;
}

.posted-time {
  padding: 3px 20px 4px 20px;
}

.posted-time .comment__time {
  padding: 0px;
  text-transform: uppercase;
  font-size: 10px;
}

/* SECTION 5 */

.comment_section {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 20px 7px 20px;
  display: flex;
  gap: 10px;

  border-top: 1px solid rgb(245, 241, 241);
}

.comment_section svg {
  cursor: pointer;
}

.input-comment {
  flex: 1;
  outline: none;
  border: none;
  padding: 10px;
}

.btn-publish {
  color: rgba(2, 57, 223, 0.28);
  font-size: 14px;
  border: none;
  background: transparent;
  font-weight: bold;
  padding: 10px 8px;
  padding-right: 0;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .article {
    margin-top: 0px;
  }

  .post {
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
  }

  .mobile-banner {
    background-image: url(images/banner.jpg);
    background-image: url(images/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 80vh;
    cursor: pointer;
  }

  .avatar__user {
    left: -6%;
  }

  .comment {
    justify-content: space-between;
    width: 92%;
  }

  .comment .user__description {
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 600px;
    margin: 0;
  }

  .other-infos .user__header-itens {
    justify-content: center;
  }
}

@media screen and (max-width: 475px) {
  .post {
    width: 100%;
  }

  .mobile-banner {
    min-height: 400px;
  }
}
